<header>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
</header>
<style>
  header {
    background: #333;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  header ul li {
    list-style-type: none;
  }

  header ul {
    display: flex;
    gap: 2rem;
  }

  header a {
    color: #fff;
    text-decoration: none;
  }

  header a:hover {
    text-decoration: underline;
  }
</style>
