---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <h1>About</h1>
    <p>
      The app is built on Astro which is a react like framework and works great
      to create quick projects.
    </p>
  </div>
</Layout>
